//tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$granate: #983939;
$crema: #f3eabc;
$azul: #1c3951;
$morado: #500b1e;
$vicuna: #7e5109;
$negro: #000000;
//Tamaños de Media Queris

$telefono: 480px;
$tablet: 780px;
$desktop: 992px;
$desktopXL: 1200px;